@model backend.Models.Subject


<tr>
    <td>@Model.CodeNo</td>
    <td>@Model.DescriptiveTitle</td>
    <td>@Model.Units</td>
    <td>@Model.ClassType</td>
    <td>@Model.Prerequisite</td>
    <td>
        <a role="button" class="text-red-600 hover:underline deleteModalBtn mr-2" data-id="@Model.SubjectId" data-modal-toggle="popup-modal">Delete</a> 
        <a asp-page="Update" class="text-yellow-500 hover:underline" asp-route-id="@Model.SubjectId">Edit</a>
    </td>
</tr>