@model backend.Models.Subject


<tr>
    <td>@Model.CodeNo</td>
    <td>@Model.DescriptiveTitle</td>
    <td>@Model.Units</td>
    <td>@Model.Type</td>
    <td>@Model.Prerequisite</td>
    <td class="text-center">
        <a role="button" class="text-danger deleteModalBtn" data-bs-toggle="modal" data-id="@Model.SubjectId" data-bs-target="#deleteModal">Delete</a> 
    </td>
    <td class="text-center"> 
        <a asp-page="Update" asp-route-id="@Model.SubjectId">Edit</a>
    </td>
</tr>